.navbar {
  color: #003A78;
  background: white;
}

.navbar-nav,
.nav-item {
  margin-left: auto;
}

.nav-item {
  margin-right: 50px;
}

.navbar-toggler {
  color: #003a78;
}

.navbar-brand {
  margin-left: 150px;
}

.logo {
  height: 50px;
}

.h1Text {
  color: #003A78;
  margin-top: 100px
}

.paraText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.topRight {
  font-size: 56px;
  margin: 200px 0 50px;
  text-align: center;
  color: #003A78;
}

.footer {
  background:black;
  color: white;
  height: 600px;
  padding-top: 300px;
  margin-top: 150px;
}

.footerH1,
.footerH3 {
  text-align: center;
  margin: '0 auto';
  display: flex;
  justify-content: center;
}

.footerH1 {
  font-size: 30px;
}


/* 
.footerH3 {
  padding: 0 22vh;

font-size: 38px
}
*/

.topAnimation {
  margin-top: 100px;
}