.h1Text {
  color: #003A78;
  margin-top: 100px
}

.paraText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.topRight {
  font-size: 56px;
  margin: 200px 0 50px;
  text-align: center;
  color: #003A78;
}
#aboutimage{
  margin-top: 100px;
}


.topAnimation {
  margin-top: 120px;
}
.footer{
  height: 600px;
  background: #002348;
  position: relative;

}

.footerh1,.footerh3{
  color: white;
  text-align: center;
  align-content: center;
  position:absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  /* justify-content: center; */
  display:flex;



}
.footerh1{
  font-size:60px;
  /* position: absolute; */
  top: 40%;
  
  
}
.footerh3{
  top: 50%;
}
